  <div class="agenda__large">
    <table>
      <thead>
        <tr>
          <td>&nbsp;</td>
          <%puts data.to_h; data.calendar.rooms.each do |label, name| %>
            <td><%= name %></td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% data.calendar.times.each_with_index do |time, index| %>
          <tr>
            <th class="agenda__slot">
              <p><%= time.start%> - <%= time.end %></p>
            </th>

            <% data.calendar.tracks.each do |room, track| %>
              <td>


                <% session = track[index] %>
                <% speaker = data.speakers[session.speaker] %>
                <div class="session">
                  <div class="session__title">
                    <%= session.title || "NA" %>
                  </div>
                  <% if speaker %>
                    <div class="hcard hcard-top">
                      <img class="hcard__img" src="<%=image_path(speaker.image)%>">
                      <div class="hcard__body">
                        <div class="hcard__title">
                          <%= speaker.name %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>


              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="agenda__small">
    <ul class="tabs" id="agenda__tabs" data-tabs>
      <% data.calendar.rooms.each_with_index do |(label, name), tli| %>
        <li class="tabs-title <%= tli==0 && 'is-active'%>"><a href="#<%=label %>"><%= name %></a></li>
      <% end %>
    </ul>

    <div class="tabs-content" data-tabs-content="agenda__tabs">
    <% data.calendar.rooms.each_with_index do |(label, name), tci| %>
      <div class="tabs-panel <%= tci==0 && 'is-active'%>" id="<%=label%>">
        <table>
          <tbody>
            <% data.calendar.times.each_with_index do |time, index| %>
              <tr>
                <th class="agenda__slot">
                  <p><%= time.start%> - <%= time.end %></p>
                </th>

                <% session = data.calendar.tracks[label][index] %>
                <td>
                  <%= session.title || "NA" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    </div>
  </div>



